.footer {
  padding-bottom: 60px;
  padding-top: 60px;

  background-color: var(--hero-footer-bgc);
}

.footer__container--flex {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.footer__main{
  @media screen and (min-width: 480px) {
    text-align: center;
  }
}
