.sub {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-top: 12px;
  margin-bottom: 34px;
}

.sub__lb {
  position: absolute;
  top: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-color);
}

.summon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.sub__in {
  margin-right: 12px;
  padding: 15px 16px;

  width: 358px;
  height: 50px;
  background-color: var(--hero-footer-bgc);
  color: var(--second-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.send {
  margin-left: 10px;
  fill: currentColor;
}
